@import url();

:root{
    --roxoclaro: #BB99CD;
    --roxoescuro: #2E073F;
    --roxomaisoumenos: #AD49E1;
    --roxolindo: #7A1CAC;
    --branco: #F5F5F0;
}

body{
    background-color: var(--roxoescuro);
    font-family: var(--texto);
    margin: 0;
}

header{
    background-color: var(--roxoclaro);
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    
}

.img-logo{
    width: 10%;
    border-radius: 100%;
}

.menu{
    display: flex;
    list-style: none;
    gap: 30px;
    font-family: var(--titulo);
    text-transform: uppercase;
}

.menu a{
    text-decoration: none;
    color: var(--roxolindo);
}

.menu a:hover{
    color: var(--roxoescuro);
    transition: 0.5s;
}

.capa{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

 .capa.img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
 }

 .apresentacao{
    font-family: var(--titulo);
    text-align: center;
    margin: 40px 0;
 }

.apresentacao h2{
    color: var(--roxolindo);
    font-size: 50px;
}

.apresentacao p{
    color: var(--roxoescuro);
    font-size: 25px;
    font-family: var(--texto);
}

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 5px;
}

.sobre div{
    width: 50%;
    text-align: center;
}

.sobre-img img{
    width: 50%;
    border-radius: 0px 20px 0 20px;
    box-shadow: 3px 3px 10px #130f21;
}

.sobre h2{
    font-family: var(titulo);
    font-size: 40px;
    color: var(--roxolindo);
    margin-bottom: 15px;
}

.sobre p{
    font-size: 24px;
    color: var(--roxoescuro);
}

footer{
    background-color: var(--roxomaisoumenos);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--azul-xford);
    font-size: 18px;
}